* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef2f3;
    padding-bottom: 50px;
}


.card {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 20px;
    background: rgb(98, 0, 128);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#formMsg { margin-top: 10px; }

.grid-demo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 90%;
    margin: 30px auto;
}

.box {
    background: #9fe7e7;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
} 

 .todo-input {
  display: flex;
  gap: 10px;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

ul li {
  background: #f5f7fb;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li button {
  background: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

ul li button:hover {
  background: darkred;
}

#error {
  margin-top: 0.5rem;
  color: red;
  text-align: center;
}

footer {
  text-align: center;
  background: rgb(98, 0, 128);
  color: #fff;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
}


/* Responsive */
@media (max-width: 600px) {
  main {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
}
